################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HealthCheck/.vs/HealthCheck/FileContentIndex/01d07215-561c-4ffb-9f1e-6f7210ea3db5.vsidx
